<mat-table [dataSource]="heroes">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container matColumnDef="id">
        <mat-header-cell  *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell  *matCellDef="let hero"> {{ hero.id }} </mat-cell>
      </ng-container>


    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let hero"> {{ hero.name }} </mat-cell>
    </ng-container>

    <!-- Race Column -->
    <ng-container matColumnDef="race">
      <mat-header-cell *matHeaderCellDef> Race </mat-header-cell>
      <mat-cell *matCellDef="let hero"> {{ hero.race }} </mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button color="accent" aria-label="Add a hero">
          <mat-icon (click)="onAdd()">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let hero">
        <button color="primary" aria-label="Edit a hero">
          <mat-icon (click)="onEdit(hero)">edit</mat-icon>
        </button>

        <button color="warn" aria-label="Remove a hero">
          <mat-icon (click)="onDelete(hero)">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>